<% provide(:title, '新規登録') %>
<% provide(:button_text, '登録') %>


<div class="form-block pt-3">
  <div class="form-title text-center">
  新規登録
 </div>
<div class="container">
<div class="row">
  <!-- <h3 class="new-post-title">新規投稿</h3> -->
      <%= render 'form' %>
  </div>
</div>
</div>