<% provide(:title, '投稿編集') %>
<% provide(:button_text, '完了') %>


<div class="form-block pt-3">
    <div class="form-title text-center">
  投稿編集
   </div>
  <div class="container">
<div class="row">
      <%= render 'form' %>
</div>
</div>
</div>